#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    #output {
        background-color: white;
        color: black;
    
        ul {
            list-style: none;
            padding: 0;
            padding-left: 5px;
            margin: 0;
        }
    }

    .emissions {
        color: #69F0AE;
        font-weight: bold;
    }

    p {
        margin: 0;
    }

}

