<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="text-align: center;">Example Output</h2>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="output">
        <ng-container *ngIf="outStr$ | async; else noOutput">
          <ul>
            <li *ngFor="let output of (outStr$ | async)">
            {{output.split('|')[0]}} 
            {{output.split('|')[0].split('')[0] === 'C' ? '' : '|'}}
            <span class="emissions">{{output.split('|')[1]}}</span>
            </li>
          </ul>
        </ng-container>
        <ng-template #noOutput>
          <p id="noOutputText">No Output Yet!</p>
        </ng-template>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
