<h1>MergeMap</h1>
<div id="container">
  <div [formGroup]="mergeMapForm">
    <mat-form-field class="inputFields" appearance="fill">
      <mat-label for="intervalNumber">Number Of Intervals</mat-label>
      <input 
      matInput 
      formControlName="intervals"
      type="number" 
      id="intervalNumber"
      type="number"
      min="1"
      max="5">
    </mat-form-field>
    <br>
    <mat-form-field class="inputFields" appearance="fill">
      <mat-label for="emissionsNumber">Number Of Emmissions</mat-label>
      <input 
      matInput 
      formControlName="emissions"
      type="number" 
      id="emissionsNumber"
      type="number"
      min="1"
      max="5">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="useMergeMap()">Calculate</button>
  </div>
  <br>
  <div id="output">
    <ul>
      <li *ngFor="let output of (mergeMapOutput$ | async)">
      {{output.split('|')[0]}} 
      {{output.split('|')[0].split('')[0] === 'C' ? '' : '|'}}
      <span class="emissions">{{output.split('|')[1]}}</span>
      </li>
    </ul>
  </div>
  <br>
  <p>Output Key: <span class="emissions">Emissions</span></p>
  <div id="code">
  </div>
</div>

