<div id="container">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>MergeMap</h2>
        </mat-panel-title>
        <mat-panel-description>
         Example Code
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="code">
        <app-code-display [tsCode2Display]="tsCodeStr"></app-code-display>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div [formGroup]="mergeMapForm">
    <mat-form-field class="inputFields" appearance="fill">
      <mat-label for="intervalNumber">Number Of Intervals</mat-label>
      <input 
      matInput 
      formControlName="intervals"
      type="number" 
      id="intervalNumber"
      type="number"
      min="1"
      max="5">
    </mat-form-field>
    <br>
    <mat-form-field class="inputFields" appearance="fill">
      <mat-label for="emissionsNumber">Number Of Emmissions</mat-label>
      <input 
      matInput 
      formControlName="emissions"
      type="number" 
      id="emissionsNumber"
      type="number"
      min="1"
      max="5">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="useMergeMap()">Calculate</button>
  </div> 
  <br> 
  <app-output-display [outStr$]="mergeMapOutput$"></app-output-display>
</div>

