<h1>Kinds of Operators</h1>
<h2>Conditional</h2>
<p>For use-cases that depend on a specific condition to be met.</p>
<h2>Creation</h2>
<p>These operators allow the creation of an observable from nearly anything.</p>
<h2>Join</h2>
<p>Combines items emitted by two Observables whenever an item from one Observable is emitted during a time window defined according to an item emitted by the other Observable</p>
<h2>Transformation</h2>
<p>Transforming values as they pass through the operator chain is a common task.</p>
<h2>Filtering</h2>
<p> These operators provide techniques for accepting values from an observable source and dealing with backpressure.</p>
<h2>Utility</h2>
<p>From logging, handling notifications, to setting up schedulers, these operators provide helpful utilities</p>