<button mat-button [matMenuTriggerFor]="conditional">Conditional</button>
<mat-menu #conditional="matMenu">
  <button mat-menu-item>defaultIfEmpty</button>
  <button mat-menu-item>every</button>
  <button mat-menu-item>find</button>
  <button mat-menu-item>findIndex</button>
  <button mat-menu-item>isEmpty</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="creation">Creation</button>
<mat-menu #creation="matMenu">
  <button mat-menu-item>ajax</button>
  <button mat-menu-item>bindCallback</button>
  <button mat-menu-item>bindNodeCallback</button>
  <button mat-menu-item>defer</button>
  <button mat-menu-item>empty</button>
  <button mat-menu-item>from</button>
  <button mat-menu-item>fromEvent</button>
  <button mat-menu-item>fromEventPattern</button>
  <button mat-menu-item>interval</button>
  <button mat-menu-item>generate</button>
  <button mat-menu-item>of</button>
  <button mat-menu-item>range</button>
  <button mat-menu-item>throwError</button>
  <button mat-menu-item>timer</button>
  <button mat-menu-item>iif</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="join">Join</button>
<mat-menu #join="matMenu">
  <button mat-menu-item>combineLatestAll</button>
  <button mat-menu-item>concatAll</button>
  <button mat-menu-item>exhaustAll</button>
  <button mat-menu-item>mergeAll</button>
  <button mat-menu-item>switchAll</button>
  <button mat-menu-item>startWith</button>
  <button mat-menu-item>withLatestFrom</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="transformation">Transformation</button>
<mat-menu #transformation="matMenu">
  <button mat-menu-item>buffer</button>
  <button mat-menu-item>bufferCount</button>
  <button mat-menu-item>bufferTime</button>
  <button mat-menu-item>bufferToggle</button>
  <button mat-menu-item>bufferWhen</button>
  <button mat-menu-item>concatMap</button>
  <button mat-menu-item>concatMapTo</button>
  <button mat-menu-item>exhaust</button>
  <button mat-menu-item>
    <a [routerLink]="['/transformation/concatmap']" routerLinkActive="active-link">concatMap</a>
  </button>
  <button mat-menu-item>expand</button>
  <button mat-menu-item>groupBy</button>
  <button mat-menu-item>map</button>
  <button mat-menu-item>mapTo</button>
  <button  mat-menu-item>
    <a [routerLink]="['/transformation/mergmap']" routerLinkActive="active-link">mergeMap</a>
  </button>
  <button mat-menu-item>mergeMapTo</button>
  <button mat-menu-item>MergeScan</button>
  <button mat-menu-item>pairwise</button>
  <button mat-menu-item>pluck</button>
  <button mat-menu-item>scan</button>
  <button mat-menu-item>switchScan</button>
  <button mat-menu-item>
    <a [routerLink]="['/transformation/switchmap']" routerLinkActive="active-link">switchMap</a>
  </button>
  <button mat-menu-item>switchMapTo</button>
  <button mat-menu-item>window</button>
  <button mat-menu-item>windowCount</button>
  <button mat-menu-item>windowTime</button>
  <button mat-menu-item>windowToggle</button>
  <button mat-menu-item>windowwhen</button>
</mat-menu>

<!-- <button mat-button [matMenuTriggerFor]="multicasting">Multicasting</button>
<mat-menu #multicasting="matMenu">
  <button mat-menu-item>multicast</button>
  <button mat-menu-item>publish</button>
  <button mat-menu-item>publishBehavior</button>
  <button mat-menu-item>publishLast</button>
  <button mat-menu-item>publishReplay</button>
  <button mat-menu-item>share</button>
</mat-menu> -->

<button mat-button [matMenuTriggerFor]="filtering">Filtering</button>
<mat-menu #filtering="matMenu">
  <button mat-menu-item>audit</button>
  <button mat-menu-item>auditTime</button>
  <button mat-menu-item>debounce</button>
  <button mat-menu-item>debounceTime</button>
  <button mat-menu-item>distinct</button>
  <button mat-menu-item>distinctUntilChanged</button>
  <button mat-menu-item>elementAt</button>
  <button mat-menu-item>filter</button>
  <button mat-menu-item>first</button>
  <button mat-menu-item>ignoreElements</button>
  <button mat-menu-item>last</button>
  <button mat-menu-item>sample</button>
  <button mat-menu-item>sampleTime</button>
  <button mat-menu-item>single</button>
  <button mat-menu-item>skip</button>
  <button mat-menu-item>skipLast</button>
  <button mat-menu-item>skipUntil</button>
  <button mat-menu-item>skipWhile</button>
  <button mat-menu-item>take</button>
  <button mat-menu-item>takeLast</button>
  <button mat-menu-item>takeUntil</button>
  <button mat-menu-item>takeWhile</button>
  <button mat-menu-item>throttle</button>
  <button mat-menu-item>throttleTime</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="utility">Utility</button>
<mat-menu #utility="matMenu">
  <button mat-menu-item>tap</button>
  <button mat-menu-item>delay</button>
  <button mat-menu-item>delayWhen</button>
  <button mat-menu-item>dematerialize</button>
  <button mat-menu-item>materialize</button>
  <button mat-menu-item>observeOn</button>
  <button mat-menu-item>subscribeOn</button>
  <button mat-menu-item>subscribeOn</button>
  <button mat-menu-item>timestamp</button>
  <button mat-menu-item>timeout</button>
  <button mat-menu-item>timeoutWith</button>
  <button mat-menu-item>toArray</button>
</mat-menu>